<div class="footer">
    <div class="footer__logo">
        <div>
            <i class="bi bi-plus-square-fill"></i>
            <p>THUỐC CHÍNH HÃNG</p>
        </div>
        <div>
            <i class="bi bi-shield-check"></i>
            <p>CAM KẾT CHẤT LƯỢNG</p>
        </div>
        <div>
            <i class="bi bi-geo-alt-fill"></i>
            <p>NHÀ THUỐC GẦN BẠN</p>
        </div>
        <div>
            <i class="bi bi-cart-check"></i>
            <p>MIỄN PHÍ VẬN CHUYỂN</p>
        </div>
    </div>
    <div class="footer__content">
        <div class="footer__content--infor">
            <div class="contact">
                <img src="/assets/images/LogoThanhBinh.png" class="footer-logo">
                <p>Công ty Cổ Phần Dược Phẩm Thanh Bình</p>
                <p>Số ĐKKD 12346789 cấp 04/11/2018 tại Sở Kế hoạch Đầu tư TPHCM</p>
                <p>Địa chỉ: 379-381 Hai Bà Trưng, P. Võ Thị Sáu, Q. 3, TP. Hồ Chí Minh</p>
                <p>Email: sales@nhathuocthanhbinh.com</p>
            </div>
            <div class="list-link">
                <p class="footer__content--title">VỀ THANH BÌNH</p>
                <a href="#">Tổng quan Doanh nghiệp</a>
                <a href="#">Dược sĩ</a>
                <a href="#">Giấy phép kinh doanh</a>
                <a href="#">Hệ thống cửa hàng</a>
                <a href="#">Chính sách bảo mật</a>
            </div>
            <div class="list-link">
                <p class="footer__content--title">HỖ TRỢ KHÁCH HÀNG</p>
                <a href="#">Chính sách thanh toán</a>
                <a href="#">Chính sách giao hàng</a>
                <a href="#">Chính sách đổi trả, bảo hành</a>
                <a href="#">Kiểm tra hóa đơn điện tử</a>
                <a href="#">Hướng dẫn mua hàng Online</a>
            </div>
            <div class="list-link">
                <p class="footer__content--title">DANH MỤC</p>
                <a href="#">Thuốc</a>
                <a href="#">Thực phẩm chức năng</a>
                <a href="#">Dược - Mỹ phẩm</a>
                <a href="#">Thiết bị y tế</a>
            </div>
        </div>
        <div class="footer__content--logo">
            <h3>KẾT NỐI VỚI THANH BÌNH</h3>
            <div>
                <div class="hotline">
                    <div class="hotline-img">
                        <img src="/assets/images/footer/Facebook - Original.png">
                        <img src="/assets/images/footer/Google - Original.png">
                        <img src="/assets/images/footer/gMAIL.png">
                    </div>
                    <p>Hotline: 1900-532-444</p>
                </div>
                <div class="logo_check">
                    <img src="/assets/images/footer/handle_cert.png" >
                    <img src="/assets/images/footer/bo-cong-thuong.png" >
                    <img src="/assets/images/footer/DMCA_logo-grn-btn180w.png" >
                </div>
                <div class="logo-payment">
                    <img src="/assets/images/footer/napas.png" id="logo-napas" >
                    <img src="/assets/images/footer/momo_logo.png" id="logo-momo">
                </div>
            </div>
            
        </div>
    </div>

    <img src="/assets/images/Boxchat.png" id="boxchat">

    <div class="footer__copyright">
        <p>
            Copyright© 2022 bởi nhóm 4 - Phân tích, thiết kế Website lĩnh vực dược phẩm
            <br>
            Website là sản phẩm  phục vụ cho môn học - Nội dung trên trang web này chỉ dành cho mục đích học tập</p>
    </div>
</div>