<div class="header" id="header">
    <div class="header__infor">
        <span class="header__infor--iconClose">&times;</span>
        <p class="header__infor--content">
            GIẢM ĐẾN 50% KHI MUA SẢN PHẨM THỨ 2 TẠI WEBSITE 
            <br>
            <span class="header__infor--time">Từ ngày 01/12/2022 đến 31/12/2022</span>
        </p>
    </div>
    <div class="header__content">
        <div class="header__content--logo">
            <img src="/assets/images/LogoThanhBinh.png">
        </div>
        <div class="header__content--list">
            <div class="content__top">
                <div class="content__top--menu">
                    <a href="#">Trang chủ</a>
                    <a href="#">Về Thanh Bình</a>
                    <a href="#">Trợ giúp</a>
                    <a href="#">Hệ thống cửa hàng</a>
                </div>
                <div class="content__top--signIn">
                    <span><b>1900-532-444</b> | Đăng nhập</span>
                    <i class="bi bi-person-circle"></i>
                </div>
            </div>
            <div class="content__bottom">
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="  Search..." >
                </div>
                <div class="history">
                    <i class="bi bi-file-earmark-text"></i>
                    Lịch sử đơn hàng
                </div>
                <div class="cart">
                    <i class="bi bi-cart-fill"></i>
                    Giỏ hàng
                </div>
            </div>
        </div>
    </div>
    <div class="header__navbar">
        <div>
            <p>THUỐC <i class="bi bi-chevron-down"></i></p>
        </div>
        <div>
            <p>THỰC PHẨM CHỨC NĂNG <i class="bi bi-chevron-down"></i></p>
        </div>
        <div>
            <p>DƯỢC-MỸ PHẨM <i class="bi bi-chevron-down"></i></p>
        </div>
        <div>
            <p>THIẾT BỊ Y TẾ <i class="bi bi-chevron-down"></i></p>
        </div>
    </div>
</div>

