html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 85%;
    margin: 0px auto;
    margin-top: 170px;
}
.section ol{
    list-style: none;
    display: flex;
    color: #776F6F;
    padding: 10px 0;
    margin-top: 10px;
}
.section ol li:not(:nth-child(1))::before{
    content: "/";
    display: inline-block;
    line-height: 100%;
    margin: 0px 5px;
}
.content__category{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.content__category div{
    display: flex;
    align-items: center;
    color: white;
    background-color: #2D982A;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    padding: 0px 15px;
    margin: 0px 20px;
}
.content__category div p{
    margin: 15px 0 15px 15px;
}

.content__item{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-between;
}
.item{
    width: 200px;
    height: 320px;
    margin: 30px 15px;
    background-color: #C2F4C0;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.item img{
    width: 150px;
    height: 180px;
}
.item--img{
    text-align: center;
}
.item--name{
    font-weight: bold;
    text-align: justify;
}
.item--button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #2D982A;
    border: none;
}
.item div:last-child{
    display: flex;
    justify-content: center;
}
.more--button{
    background-color: #2D982A;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.more--button input{
    background-color: #2D982A;
    color: white;
    border: none;
    cursor: pointer;
}
