html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 95%;
    margin: 0px auto;
    margin-top: 170px;
}
.section ol{
    list-style: none;
    display: flex;
    color: #776F6F;
    padding: 10px;
    margin-top: 10px;
}
.section ol li:nth-child(2)::before{
    content: "/";
    display: inline-block;
    line-height: 100%;
    margin: 0px 5px;
}
.content{
    display: flex;
}
.content__item{
    flex: 70%;
    margin: 10px 5px 0px;
    background-color: #C2F4C0;
    border-radius: 10px;
    padding: 15px;
}
.content__order{
    flex: 30%;
    margin: 10px 5px 0px;
    background-color: #C2F4C0;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
}
h2{
    margin: 5px 0 15px 0;
}

.content__order--title{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}
.content__order--title p:nth-child(1){ min-width: 70%; margin: 5px 0px;}
.content__order--title p:nth-child(2){ min-width: 15%; margin: 5px 0px;}
.content__order--title p:nth-child(3){ min-width: 15%; margin: 5px 0px;}

.content__order--item{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    height: 30%;
    align-items: center;
    background-color: white;
    border-radius: 5px; 
    font-weight: bold;
}
.content__order--item:hover{
    cursor: pointer;
    background-color: #ECECEC;
}
.content__order--item #checkbox--item{ min-width: 2%; margin: 5px 5px;}
.content__order--item .item--img{ min-width: 12%; height: 100%; margin: 5px 5px;}
.content__order--item .item--name{ min-width: 51%; margin: 5px 5px;}
.content__order--item .item--price{ min-width: 15%; margin: 5px 5px;}
.content__order--item .item--amount{ min-width: 15%; margin: 5px 5px;}

.item--amount{
    display: flex;
}
.item--amount input{
    width: 25px;
    border: 1px solid #D9D9D9;
    text-align: center;
    font-weight: bold;
}
.item--amount button:nth-child(1){
    border-radius: 10px 0 0 10px;
    border: none;
    background-color: #D9D9D9;
}
.item--amount button:nth-child(1):hover{cursor: pointer;}
.item--amount button:nth-child(3):hover{cursor: pointer;}

.item--amount button:nth-child(3){
    border-radius: 0 10px 10px 0;
    border: none;
    background-color: #D9D9D9;
}

.content__order>div{
    display: flex;
    justify-content: space-between;
}
.content__order>div p{
    margin: 10px;
}
.content__order--total{
    font-weight: bold;
}
.voucher{
    font-weight: bold;
    color: #2D982A;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
}
.bi-file-earmark-fill, .bi-tag-fill{
    color: #2D982A;
}
.content__order--confirm{
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
}
.content__order--button{
    display: flex;
    justify-content: center !important;
}
.button:hover{
    cursor: pointer;
}
.button{
    background-color: #2D982A;
    border-radius: 20px;
    height: 40px;
    width: 70%;
    border: none;
    color: white;
    font-weight: bold;
    margin: 10px 10px;
    font-size: 20px;
}

/* Modal Phương thức thanh toán */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position: relative;
    background-color: #F2F2F2;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 500px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 15px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #2D982A;
    border-radius: 10px 10px 0 0;
    color: white;
}

.modal-body-content p{
    font-weight: bold;
    padding: 15px 45px;
}
.modal-body-content p:hover{
    background-color: #C2F4C0;
}
h3{
    margin: 15px;
}