.header{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 160px;
    background-color: white;
    transition: top 0.3s;
    z-index: 1;
}
.header__infor{
    background-color: #2D982A;
    font-weight: bold;
    height: 30px;
}
.header__infor--iconClose {
    color: white;
    float: left;
    font-size: 30px;
    font-weight: lighter;
    height: 25px;
    line-height: 100%;
    padding: 0px 20px;
}
.header__infor--iconClose:hover,
.header__infor--iconClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header__infor--content{
    height: 30px;
}
.header__infor p{
    color: white;
    width: 500px;
    margin: 0px auto;
    text-align: center;
    font-size: 12px;
}
.header__infor--time{
    font-weight: lighter;
    color: white !important;
}

.header__content{
    display: flex;
    margin: 10px auto;
    align-items: center;
    width: 85%;
}
.header__content--logo img{
    width: 290px;
    height: 80px;
}

.header__content--list{
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}
.content__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content__top--signIn{
    justify-content: flex-end;
    cursor: pointer;
}
b{
    color: #000 !important;
}
.content__top--menu{
    margin: 0px 50px;
    flex: auto;
    display: flex;
    justify-content: space-evenly;
}
.content__top--menu a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content__bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    width: 450px;
    height: 25px;
    border: 2px solid !important;
    border-left: none !important;
    border-radius: 0 20px 20px 0;
}
.bi-search{
    display: flex;
    align-items: center;
    height: 27px;
    padding: 0px 5px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 0px;
    border-radius: 20px 0px 0px 20px;
}
.bi-person-circle, .bi-file-earmark-text, .bi-cart-fill{
    color: #2D982A;
}

.header__navbar{
    background-color: #2D982A;
    display: flex;
    justify-content: center;
    color: white;
    height: fit-content;
}
.header__navbar div{
    margin: 0 50px;
    cursor: pointer;
}
.header__navbar div p{
    margin: 5px;
}