html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 85%;
    margin: 0px auto;
    margin-top: 170px;
}
.section ol{
    list-style: none;
    display: flex;
    color: #776F6F;
    padding: 10px;
    margin-top: 10px;
}
.section ol li:not(:nth-child(1))::before{
    content: "/";
    display: inline-block;
    line-height: 100%;
    margin: 0px 5px;
}
.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.img{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#img_momo{
    width: 50px;
    height: 50px;
}
#img_qrcode{
    width: 200px;
    height: 200px;
}