html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #037700;
    padding-left: 15px;
}

h3{
    padding-left: 15px;
}

.list-item {
    font-size: 16px;
    margin: 40px 0;
}

.list {
    padding-left: 55px;    
}

.list p:hover{
    background-color: #91D88E;
    border-radius: 10px;
    padding: 16px 20px;
    margin-left: -35px;
    width: 100%;
}
.section ol{
    list-style: none;
    display: flex;
    color: #776F6F;
    padding: 10px;
    margin-top: 10px;
}

.section ol li:nth-child(2)::before{
    content: "/";
    display: inline-block;
    line-height: 100%;
    margin: 0px 5px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 95%;
    margin: 0px auto;
    margin-bottom: 25px;
}

.content{
    display: flex;
}

.navbar{
    margin: 10px 5px 0px;
    background-color: #C2F4C0;
    border-radius: 10px;
    padding: 15px;
    flex: 16%;
    border-bottom: 3px solid #bbbbbb;
    border-right: 3px solid #ecebeb;
    max-height: 780px;
}

.content-posts{
    flex: 70%;
    margin: 10px 25px 0px;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    height: 2000px;
}

.sub-header{
    font-size: 27px;
    font-weight: bold;
}

.content--item{
    font-size: 20px;
}

li{
    font-size: 20px;
    padding-bottom: 10px;
}

